* {
    bg-dark: #E60A0B14;
    border-accent: #59F7768E;
    text-normal: #A9B1D6;
    text-selected: #F7768E;
    bg-selected: #2EF7768E;

    background-color: transparent;
    text-color: @text-normal;
    font: "JetBrainsMono Nerd Font 11";
}

window {
    width: 220px;
    border-radius: 14px;
    background-color: @bg-dark;
    border: 2px;
    border-color: @border-accent;
    location: northeast;
    anchor: northeast;
    x-offset: -14px;
    y-offset: 52px;
}
mainbox {
    padding: 8px;
}
inputbar {
    padding: 6px 10px;
    children: [prompt];
}
prompt {
    text-color: @text-selected;
    font: "JetBrainsMono Nerd Font 11 bold";
}
listview {
    lines: 5;
    padding: 4px 0px;
    spacing: 2px;
}
element {
    padding: 8px 14px;
    border-radius: 8px;
}
element selected {
    background-color: @bg-selected;
    text-color: @text-selected;
}
element-text {
    text-color: inherit;
}
