[Desktop Entry]
Name=ArchTitan Settings
GenericName=System Settings
Comment=Control center and system settings for ArchTitan OS
Exec=archtitan-settings
Icon=archtitan-settings
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=settings;control;center;power;display;audio;network;security;appearance;
StartupNotify=false
StartupWMClass=archtitan-settings
